/*
-------------------------------------------
|               Theme Mixins              |
-------------------------------------------
*/
@mixin theme-navigation($background-color, $background-color-active, $text-color, $text-color-active, $hover-color) {
    .home {
        .home-background-image {
            background-color: $background-color-active;
        }
        .home-button:hover {
            //background-color: rgba(71, 163, 218, 0.15);
        }
    }
    .navigation {
        background-color: $background-color;

        // List elements (li)
        .nav-link-container {
            // Active element
            &.nav-active {
                background-color: $background-color-active;

                .nav-link {
                    color: $text-color-active;
                }
            }
            // Non-active elements
            &:hover:not(.nav-active) {
                background-color: $hover-color;
            }
        }
        // Link elements (a)
        .nav-link {
            color: $text-color;
        }
    }
    .contact {
        // Contact icons (i)
        .contact-icon-container {
            a:hover {
                @include transition(0.5s);
                color: $background-color-active;
            }
        }
        .contact-icon {
            color: $background-color-active;
        }
        .footer {
            background-color: $background-color;

            // Footer icons (i)
            .footer-link {
                color: $background-color-active;

                &:hover {
                    @include transition(0.75s);
                    color: #195a80;
                }
            }
        }
    }
}
.blue-white-theme {
    @include theme-navigation(
        $color-grayLight--navbar,
        $color-bluePale--navbar,
        $color-bluePale--navbar,
        $color-grayLight--navbar,
        darken($color-grayLight--navbar, 5%)
    );
}
