// General Styling
#fullpage {

    .section:nth-child(even) {
        background-color: #404040;
    }
    .section:nth-child(odd) {
        background-color: #808080;
    }
    .section {
        color: white;
        text-align: center;
        padding-top: $size-height--navbar;
    }
}

html, body {
    font-family: $font-family--site;
}

body {
    visibility: hidden;
}
