// Below are standard media breakpoints. Always use mobile-first media queries,
// as you should be designing mobile-first. If a mobile-first approach can not
// be used for whatever reason, max-width queries are also listed below.
//
// example (usage): @media #{($break-tablet-portrait)} {}

// Breakpoints
// --------------------------------------------------
$mobile-small: 320px;
$mobile: 480px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1280px;

// Mobile-first media queries
// --------------------------------------------------
$break-mobile-small: "only screen and (min-width: $mobile-small)";
$break-mobile: "only screen and (min-width: $mobile)";
$break-tablet-portrait: "only screen and (min-width: $tablet-portrait)";
$break-tablet-landscape: "only screen and (min-width: $tablet-landscape)";
$break-desktop: "only screen and (min-width: $desktop)";

// Max-width breakpoints (non-mobile first)
// --------------------------------------------------
$mobile-max: ($tablet-portrait - 1);
$tablet-portrait-max: ($tablet-landscape - 1);
$tablet-landscape-max: ($desktop - 1);

// Max-width media queries (non-mobile first)
// --------------------------------------------------
$break-mobile-max: "only screen and (max-width: $mobile-max)";
$break-tablet-portrait-max: "only screen and (max-width: $tablet-portrait-max)";
$break-tablet-landscape-max: "only screen and (max-width: $tablet-landscape-max)";
